.App {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
}

.todos {

}

.form {
  margin-top: 50px;
}

.tasksContainer {
  margin-top: 50px;
}

.task {
  width: 400px;
  text-align: left;
  margin: auto;
}
.counter {
  width: 50px;
  text-align: center;
  margin-right: 15px;
}
